 <!-- About -->
 <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">About</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="../assets/images/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Feb 2017</h4>
                  <h4 class="subheading">Project Blackmoor KickOff</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">We decided to start a play-ground project site together!</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="../assets/images/about/2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Feb 2018</h4>
                  <h4 class="subheading">First Publish</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">After a year of unexpected health issues, we finally got a chance to sit down together and publish something!</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="../assets/images/about/3.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>March 2018</h4>
                  <h4 class="subheading">Picked A Layout</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">We decided to start putting out some actual styling rather than simply focusing on making cool things work.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>Roadmap
                  <br>Phase
                  <br>1!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>