<h1>Welcome to Project Blackmoor
</h1>
<div>
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Congratulations!</h4>
    <p>You are a very fortunate person. You have miraculously landed on the page of Project Blackmoor.</p>
    <hr>
    <p class="mb-0">Hope you enjoy!</p>
  </div>
  <div class="row">
    <div class="col-sm">
      <app-bio-component></app-bio-component>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <app-picture-component [pic]="monster.picture"></app-picture-component>
        <div class="card-body">
          <button (click)="generateNewMonster()">Generate Again!</button>

          <a href='https://www.freepik.com/free-vector/scorpion-with-different-facial-expressions_1190761.htm'>Designed by Freepik</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <app-stats-component></app-stats-component>
    </div>
  </div>
</div>