<div>
  <div class="alert alert-success" role="alert">
    <h1 class="alert-heading" align="center">Welcome to Project Blackmoor</h1>
    <p align="center">You are a very fortunate person. You have miraculously landed on the page of Project Blackmoor.</p>
  </div>
  <div class="row">
    <div class="col-sm">
      <app-bio-component></app-bio-component>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <app-picture-component></app-picture-component>
        <div class="card-body">
          <p class="card-text">This person is the happiest because she is married to a wonderful woman.</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <app-stats-component></app-stats-component>
    </div>
  </div>
</div>