<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">326 Grub Road
                    <br>Colpitts Settlement, NB, Canada
                    <br>E4J 1E3
                </p>
            </div>
            <div class="col-md-5">
                <h4 class="text-uppercase mb-4">Disclaimer</h4>
                <p class="lead mb-0">Project Blackmoor is an experiment site and portfolion for our personal projects. 
                    The code on this site is not intended for distribution or business purposes.</p>
            </div>
        </div>
    </div>
</footer>