<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">About Us</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-sm-6">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="../assets/images/soph.jpg" alt="Soph">
          <h4>Sophia Doiron-Desharnais</h4>
          <p>Developer/Product Manager</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="../assets/images/dani.jpg" alt="Dani">
          <h4>Dani Doiron-Desharnais</h4>
          <p>Developer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="lead">
          This is our fun little dynamic duo. The intention of this site is simply to teach, experiment, and knowledge transfer between
          each other. We are both formally trained career developers that enjoy messing around with different technologies
          together.
        </p>
      </div>
    </div>
  </div>
</section>